# https://docs.travis-ci.com/user/build-config-validation/
version: ~> 1.0

language: node_js
node_js:
  - "10"
  - "12"
  - "14"
script:
  - npm run lint
  - npm test
cache:
  directories:
    - node_modules
jobs:
  fast_finish: true
